.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 437px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  width: 1140px;
  margin: 164px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 67px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 67px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 67px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 67px;
  width: 300px;
  margin: 0 auto;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 55px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 55px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 64px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 240px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 44px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 109px;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-input-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 4px 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 253px;
    margin-top: 18px;
  }

  .u-section-1 .u-form-1 {
    height: 127px;
    width: 150px;
    margin-bottom: -8px;
  }
}